<div class="container">
  <div class="top-btn-container">
    <div class="right-btn-container">
      <button class="invoice-btn">New invoice +</button>
    </div>
    <div class="left-btn-container">
      <button class="login-btn">Log in</button>
      <button class="signup-btn">Sign up</button>
    </div>
  </div>

  <form [formGroup]="createInvoice">
    <div class="cloud">
      <div class="file-input-container">
        <input
          type="file"
          id="file-input"
          formControlName="image"
          name="image"
          accept="image/png, image/jpeg, image/jpg, image/pdf"
          (change)="fileSelect($event)"
        />
        <label for="image" class="file-input-label">
          


        <img [src]="base" *ngIf="base" class="display" />
     
          <img src="../../../assets/images/Group 11.png" alt="" srcset=""  *ngIf="!base"/>
        </label>
      </div>
      
    </div>
    <div class="invoice">
      <div class="left">
        <div class="date">
          <label for="date">Date:</label>
          <input type="date" name="date" formControlName="sendDate"  pattern="\d{4}-\d{2}-\d{2}"/>
        </div>
        <div class="mid-text">
          <!-- image -->
<span>Upload Logo</span>
          <h3>Invoice no</h3>
          
        </div>
        <div class="due-date">
          <label for="date">Due Date:</label>
          <input type="date" id="date" formControlName="dueDate"  pattern="\d{4}-\d{2}-\d{2}"/>
        </div>
      </div>

      <div class="billing-form">
        <div class="bil-from">
          <label for="billed from">Billed From<span>*</span></label
          ><br />
          <input
            type="email"
            placeholder="Email"
            formControlName="senderEmail"
          />
          <input
            type="text"
            placeholder="Who is this invoice from?"
            formControlName="sender"
          />
        </div>
        <div class="bil-to">
          <label for="billed from">Billed to<span>*</span></label
          ><br />
          <input
            type="email"
            placeholder="Email"
            formControlName="receiverEmail"
          />
          <input
            type="text"
            placeholder="Who is this invoice to?"
            formControlName="receiver"
          />
        </div>
      </div>

      <div class="table">
        <div class="row">
          <div class="col">
            <span>ITEM</span>
          </div>
          <div class="col-quantity">
            <span>QTY</span>
          </div>
          <div class="col-rate">
            <span>PRICE</span>
          </div>
          <div class="col-total">
            <span>TOTAL</span>
          </div>
          <!-- <div class="col-action">
                        <span>ACTION</span>
                    </div> -->
        </div>
        <div formArrayName="items">
          <div
            *ngFor="let group of arrayData.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="item-row">
              <div class="col">
                <input
                  type="text"
                  placeholder="item name"
                  formControlName="itemName"
                />
                <input
                  type="text"
                  placeholder="description"
                  formControlName="description"
                />
              </div>
              <div class="col-quantity">
                <input type="number" placeholder="0" formControlName="quantity"  class="no-scroll"/>
              </div>
              <div class="col-rate">
                <input
                  type="number"
                  placeholder="NGN 0.00"
                  formControlName="price"
                  class="no-scroll"
                />
              </div>
              <div class="col-total">
                <input
                id="total"
                class="no-scroll"
                  type="number"
                  placeholder="0.00"
                  formControlName="Total"
                  readonly
                />
              </div>
              <div class="col-action">
                <button type="button" (click)="removeItem(i)" class="delete">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="item-row1">
          <div class="col">
            <button (click)="addItem()" type="button" class="add-options">
              Add Item <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="col-quantity1">
            <p>Sub Total</p>

            <div class="options">
              <div class="options-item">
                <button (click)="discountShown = true" class="add-options"  type="button">
                  Add discount <i class="fa-solid fa-plus"></i>
                </button>
                <div *ngIf="discountShown" class="options-input-group"  type="button">
                  <input type="number" placeholder="discount"  class="no-scroll" formControlName="discount"/>
                  <i
                    (click)="discountShown = false"
                    class="fa-solid fa-trash"
                  ></i>
                </div>
              </div>
              <div class="options-item">
                <button (click)="taxShown = true" class="add-options"  type="button">
                  Add Tax <i class="fa-solid fa-plus"></i>
                </button>
                <div *ngIf="taxShown" class="options-input-group">
                  <input type="number" placeholder="tax"  formControlName="tax" class="no-scroll"/>
                  <i (click)="taxShown = false" class="fa-solid fa-trash"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-total">
            <input
            id="total"
            class="total"
              type="number"
              placeholder="0.00"
              readonly
              formControlName="subTotal"
            />
          </div>
        </div>
        <div class="item-row2">
          <div class="col-quantity3">
            <p>TOTAL</p>
          </div>
          <div class="total">
            <input
            class="no-scroll"
              type="number"
              name="total"
              placeholder="0.00"
              formControlName="grandTotal"
              readonly
            />
          </div>
          <div class="col-action"></div>
        </div>
        <div class="note-container">
          <label>Notes</label>
          <input type="text" placeholder="Thank you for your business" />
        </div>
      </div>
      <div class="bottom-btn-container">
        <button class="download-btn" (click)="test()">
          Download<i class="fa-solid fa-download"></i>
        </button>
        <button class="send-btn" (click)="submit() " [disabled]="createInvoice.invalid" type="submit">
          <span class="space"
            ><i class="fa-sharp fa-solid fa-paper-plane"></i
          ></span>
          Send Invoice
        </button>
      </div>
    </div>
  </form>
</div>
