* {
  box-sizing: border-box;
}

input:focus{
  outline-color:  #f7a31d;

}

.date input[type="date"]{
  /* padding: 10px; */
  border-radius: 10px;
  border: none;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;

}

.due-date input[type="date"]{
  border-radius: 10px;
  border: none;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;

}

.top-btn-container {
  display: flex;
  align-items: center;
}

.right-btn-container {
  margin-right: auto;
}

.invoice-btn {
  color: #f7a31d;
  border: 2px dotted #3fb0e9;
  border-radius: 16px;
  padding: 10px 17px;
  background: transparent;
}

.left-btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login-btn {
  color: #3fb0e9;
  border: none;
  background: rgba(38, 56, 70, 0.15);
  padding: 5px 6px;
  font-size: 13px;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #3fb0e9;
  color: #e8eaeb;
}

.signup-btn {
  background: #3fb0e9;
  border-radius: 15px;
  color: #ffffff;
  padding: 7px 8px;
  border: none;
  font-size: 13px;
}

.signup-btn:hover {
  background-color: #ccc;
  color: #3fb0e9;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e8eaeb;
}

.file-input-container {
  position: relative;
  width: 200px;
  height: 50px;
  
  /* overflow: hidden; */
}

.file-input-container input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.cloud {
  position: absolute;
  top: 4px;
  left: 24.1rem;
  transform: translate(-50%, 50%);
  background: none;
  border-radius: 50%;
  height: 50px;
  margin-top: -10px;
}

.cloud img {
  height: 60px;
}

#file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  cursor: pointer;
}

.file-input-label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: none !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.invoice {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
}

.left {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(38, 56, 70, 0.15);
  padding-bottom: 10px;
}

.mid-text {
  padding: 0 20px;
  text-align: center;
}

.mid-text h3 {
  font-size: 22px;
  margin: 5px 0 0;
}

.billing-form {
  display: flex;
}

.bil-from,
.bil-to {
  width: 100%;
}

.bil-from span,
.bil-to span {
  color: #f7a31d;
}
.bil-from input,
.bil-to input {
  width: 80%;
  padding: 10px;
  background: rgba(38, 56, 70, 0.15);
  opacity: 0.7;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

.row {
  display: flex;
  padding: 7px 0;
  margin-top: 25px;
  border-top: 1px solid rgba(38, 56, 70, 0.15);
  border-bottom: 1px solid rgba(38, 56, 70, 0.15);
}

.col {
  flex-basis: 51%;
}
.col1 {
  flex-basis: 51%;
}
.col-quantity {
  flex-basis: 10%;
  margin-top: 0;
}

.col-rate {
  flex-basis: 20%;
}

.col-total {
  flex-basis: 10%;
}

.item-row {
  display: flex;
  border-bottom: 1px solid rgba(38, 56, 70, 0.15);
  padding-bottom: 10px;
}

.col input,
.col-quantity input,
.col-rate input {
  width: 80%;
  padding: 10px 0;
  background: rgba(38, 56, 70, 0.15);
  opacity: 0.7;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  padding-left: 5px;

}

.col-total input {
  width: 80%;
  padding: 10px 0;
  border: none;
  margin-top: 10px;
}

.item-row1 {
  display: flex;
  border-bottom: 1px solid rgba(38, 56, 70, 0.15);
  padding-bottom: 5px;
  margin-top: 7px;
}

.col-quantity1 {
  flex-basis: 30%;

}

.col-quantity1 p {
  /* position: relative; */
  margin: 5px 0 0;
  margin-left: 15px;
}
.options {
  /* margin-right: 40px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* height: 70px; */
}
.options-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options-input-group {
  display: flex;
  justify-content: space-between;
}
.options-input-group i {
  cursor: pointer;
  margin-left: 1rem;
}
.add-options {
  background: none !important;
  border: none;
  padding-top: 10px;
  color: #f7a31d;
  cursor: pointer;
  margin-left: 10px;
}
.display{
  border-radius: 50%;
  /* width: 100px;
  height: 100px; */
  
}
.no-scroll::-webkit-inner-spin-button,
.no-scroll::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
}
.sub-total{
  padding: 10px;
}
.sub-total input {
  width: 80%;
  padding: 10px 0;
  border: none;
  /* margin-top: 10px; */
}

.no-scroll {
  border: none;
  margin-left: 15px;
  border-radius: 5px;
}

#total{
  outline: none;
  margin-right: -50px;
}
.delete {
  margin: 20px;
  background: none !important;
  border: none;
  padding: 0 !important;
  color: black;

  cursor: pointer;
}

.item-row1 span {
  display: block;
  color: #f7a31d;
  margin-top: 5px;
}

.total input {
  width: 80%;
  padding: 10px;
  border: none;
  margin-top: 7px;
  padding-right: 5px;
  margin-right: -45px;

}

.total input:hover{
  border: 1px solid #f7a31d;
}

.item-row2 {
  display: flex;
  border-bottom: 1px solid rgba(38, 56, 70, 0.15);
  padding-bottom: 5px;
}

.col-quantity2 {
  margin-left: auto;
  flex-basis: 20%;
}

.col-quantity3 {
  margin-left: auto;
  flex-basis: 22%;
  margin-right: 25px;
}

.col-quantity2 input {
  width: 80%;
  border: none;
  margin-top: 10px;
}
.col-total1 {
  flex-basis: 20%;
}

.note-container {
  margin: 30px 0;
}

.note-container input {
  width: 100%;
  padding: 10px;
  background: rgba(38, 56, 70, 0.15);
  opacity: 0.7;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.bottom-btn-container {
  display: flex;
  gap: 20px;
}

.download-btn img {
  height: 20px;
}

.download-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 7px 20px;
  background: rgba(28, 50, 66, 0.15);
  border-radius: 10px;
  border: none;
  color: #008cba;
}

.send-btn {
  display: flex;
  align-items: center;
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 5px 50px;
  border-radius: 15px;
  cursor: pointer;
}
.space {
  margin-right: 5px;
}
/* .send-btn:hover {

} */

.send-btn:disabled {
  background-color: grey;
  opacity: 0.9;
  color: white;
  cursor: not-allowed;
}